*{
	margin: 0;
	border: 0;
	text-decoration: none;
	font-family: sans-serif;
}

.activo{
	background-color: red;
}

body{
	background-color: #F2F2F2;
}
img{
	cursor: pointer;
}

a{
	cursor: pointer !important;
}

hr{
	height: 0.1px;
	background-color: #36BC6B !important;
}

.submenu{
	padding: 10px 10px;
}

.submenu a{
	color: #000 !important;
}
.submenu a:hover{
	text-decoration: underline;
}

.submenu .img_ugel_minedu{
	width: 100%;
}

.color-cabecera{
	background-color: #36BC6B !important;
}


h1,h2,h3,h4,h5,h6{
	margin-bottom: 0 !important;
}
.menu-principal{
	background-color: #36BC6B !important;
	font-size: 1.2rem !important;
	padding: 0 10px !important;
	transition: 1s;
}

.menu-principal .cambiar-color-menu-principal:hover{
	background-color: #EA7D1B;
	transition: 1s;
}

.menu-principal .dropdown-menu{
	background-color: #4DCC80 !important;
}

.main p{
	text-align: justify;
}

.logo{
	width: 50px;
}

.logo_img_ugel_minedu{
	width: 70px;
	height: auto;
}


.menu-principal a{
	color: #FFFFFF !important;
}

.bd-example img{
	
}

.main{
	margin-top: 15px !important;
}

.menu-principal i{
	margin-right: 2px !important;
}

.carrusel-principal .forma-boton{
	height: 12px;
	width: 12px;
	border-radius: 100%;
}

.carrusel-comunicado .color-boton{
	color: #36BC6B !important;
	background-color: #36BC6B !important;
}

.cuerpo-index .well{
	background-color: #FFF !important;
	padding: 15px !important;
	margin-bottom: 15px !important;
}

.cuerpo-index .well img{
	width: 100%;
	margin-bottom: 10px;
}

.cuerpo-index .actualiza-redes{
	display: inline-block;
}

.cuerpo-index .scroll-contenido{
	height:500px;
	overflow:scroll;
}

.panel-redes{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.panel-body{
	background-color: #FFF !important;
	padding: 25px !important;
	margin-bottom: 10px !important;
}

.panel-title{
	padding: 5px 10px !important;
	color: #FFF;
	text-align: center;
}

.img-organigrama{
	width: 100%;
}
.directorio {

}
.directorio .datos-personal{
	display: inline-block;
	justify-content: space-around;
	margin: 0px 5px 12px 5px;
	padding: 0px !important;
	background-color: #e5e5e5 !important;
}

.directorio .contenedor-imagen-personal{
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.directorio .contenedor-imagen-personal img{
	border-radius: 100%;
	width: 120px;
	height: 120px;
	border: 3px solid #FFF;
}

.directorio .contenedor-imagen-personal i{
	font-size: 110px;
	margin-top: 10px;
}

.directorio .card-text{
	font-size: 15px;
}

.footer-principal{
	background-color: #313131;
	width: 100%;
	overflow: hidden;
	padding: 15px 0 15px 0;
	text-align: center;
}

.footer-principal .nav-item{
	margin-left: 10px;
}

.footer-principal .nav-item i{
	font-size: 25px;
}

.footer-principal b{
	color: #FFF !important;
}

.footer-autor-pagina{
	background-color: #252525;
	width: 100%;
	padding: 15px 0 15px 0;
	text-align: center;
	font-size: 15px;
}

.footer-autor-pagina b{
	color: #FFF !important;
}